# Don't redistribute TDB files through this repo. Some are paywalled,
# some are by-author-permission, and even the open ones have specific
# license requirements that are best preserved at the source URL.
# Track only the manifest and citation sidecars.
*.tdb
*.TDB
*.tdb.txt
*.TDB.txt

# Keep these:
!README.md
!.gitignore
!_manifest.yaml
!*.citation.yaml
